* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131224;
}

.selectedAvatar {
  outline: 5px solid blue;
  padding: 5px;
  transition: .4s;
  cursor: pointer;
}

.avatar-zero {
  opacity: .6;
  cursor: pointer;
}